<div class="jumbotron" style="text-align:center">
    <h2>Online BookStore API</h2>
    <h4>Use this API to interact with Online BookStore</h4>
    <div style="margin-top:30px; font-size:large">
        @Html.ActionLink("Try it now", "Index", "Help", null, new { @class = "btn btn-default" })
    </div>
</div>